


<h2><%= @user.username %></h2>
<%= link_to edit_user_registration_path, method: :get do %>
<i class="far fa-edit"></i>
<% end %>

<%= link_to "pages#follow", method: :get do %>
<i class="fas fa-users"></i>
<% end %>


<p>最終ログイン<%= @user.last_sign_in_at %></p>
